<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <img src="/public/me.jpg" style="width:225px;" align="right" class="profile_picture">
      <i class="fa fa-github-square fa-2x" onclick="window.open('https://github.com/southpawlife');"
         style="cursor: pointer;"></i>
      <i class="fa fa-twitter-square fa-2x" onclick="window.open('https://twitter.com/southpawlife');"
         style="cursor: pointer;"></i>
      <i class="fa fa-linkedin-square fa-2x" onclick="window.open('https://www.linkedin.com/in/kristopherw');"
         style="cursor: pointer;"></i>
      <i class="fa fa-youtube-square fa-2x" onclick="window.open('https://www.youtube.com/kbwswim16');"
         style="cursor: pointer;"></i>
      <i class="fa fa-lastfm-square fa-2x" onclick="window.open('https://www.last.fm/user/KrisSeattle87');"
         style="cursor: pointer;"></i>
      <i class="fa fa-google-plus-square fa-2x" onclick="window.open('https://plus.google.com/+KristopherWilliams');"
         style="cursor: pointer;"></i>
      <i class="fa fa-envelope-square fa-2x" onclick="window.open('mailto:kristopher.b.williams@gmail.com');" style="cursor: pointer;"></i>
    </div>
    <div class="profile_picture"><br/></div>
    <ul class="sidebar-nav">
      <li class="sidebar-nav-item">
        <a href="/">Home</a>
      </li>
      {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
      {% if node.title != null %}
      {% if node.layout == "page" %}
      <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
        <a href="{{ node.url }}">{{ node.title }}</a>
      </li>
      {% endif %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
